
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" width="290" height="100" alt="Pergament najbolja prodavnica knjiga u gradu!" title="Pergament - Najbolja online prodavnica knjiga">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">


            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Početna <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/knjige" >Knjige</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/autor" >Autor</a>
                </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/kontakt" >Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/korpa" >Korpa</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 " style="
            visibility: hidden;">
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="Pretraga" aria-label="Pretraga"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
