
    <div class="card">
        <a data-toggle="modal" (click)="prikaziModal(book)"><img class="card-img-top img-fluid"
                src="assets/images/{{book.PictureUrl}}" alt="{{book.Title}}"></a>
        <div class="card-body cb" (click)="prikaziModal(book)">
            <!-- Id : number;
            Title : string;
            ShortDesc : string;
            Description : string;
            Price : number;
            PictureUrl: string;
        Author -->
            <a data-toggle="modal" data-target="#exampleModalCenter{{book.Id}}">
                <h5 class="card-title">{{book.Title}}</h5>
            </a>
            <p class="card-text ct">{{book.ShortDesc}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{book.Author}}</small>
        </div>
    </div>



