
    <div class="container ">

        <div class="row d-none d-md-block">
            <div class="col">
                <h3 class="display-4 text-center mb-5">Sadržaj korpe</h3>
            </div>
        </div>
        <div class="row d-none d-md-block">
            <div class="col ">
                <table class="table text-center korpa">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" colspan="2">Knjiga</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Količina</th>
                            <th scope="col">Akcije</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <!-- jedan red -->
                        
                            <tr>
                                <th scope="row" rowspan="2">1</th>

                                <td rowspan="2">
                                    <img src="assets/images/2.jpg" width="80" height="100"
                                        alt="Pergament - Najbolja online prodavnica knjiga"
                                        title="Pergament - Najbolja online prodavnica knjiga">
                                </td>
                                <td>Ime</td>
                                <td rowspan="2">Cena</td>
                                <td rowspan="2">Kolicina</td>
                                <td>
                                    <span class="align-top action-button">
                                        <i class="far fa-plus-square"></i>
                                    </span>


                                    <br />
                                </td>
                                <td rowspan="2" class="action-button">
                                    <span class="align-middle">
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="bottom_row">PrezimePrezimePrezimePrezimePrezimePrezimePrezime</td>
                                <td class="bottom_row action-button">
                                    <span class="align-bottom">
                                        <i class="far fa-minus-square"></i>
                                    </span>

                                </td>
                            </tr>
                        
                        <!-- kraj reda -->

                        <!-- jedan red -->
                       
                            <tr>
                                <th scope="row" rowspan="2">1</th>

                                <td rowspan="2">
                                    <img src="assets/images/2.jpg" width="80" height="100"
                                        alt="Pergament - Najbolja online prodavnica knjiga"
                                        title="Pergament - Najbolja online prodavnica knjiga">
                                </td>
                                <td>Ime</td>
                                <td rowspan="2">Cena</td>
                                <td rowspan="2">Kolicina</td>
                                <td>
                                    <span class="align-top action-button">
                                        <i class="far fa-plus-square"></i>
                                    </span>


                                    <br />
                                </td>
                                <td rowspan="2" class="action-button">
                                    <span class="align-middle">
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="bottom_row">PrezimePrezimePrezimePrezimePrezimePrezimePrezime</td>
                                <td class="bottom_row action-button">
                                    <span class="align-bottom">
                                        <i class="far fa-minus-square"></i>
                                    </span>

                                </td>
                            </tr>
                        
                        <!-- kraj reda -->


                        <!-- jedan red -->
                       
                            <tr>
                                <th scope="row" rowspan="2">1</th>

                                <td rowspan="2">
                                    <img src="assets/images/2.jpg" width="80" height="100"
                                        alt="Pergament - Najbolja online prodavnica knjiga"
                                        title="Pergament - Najbolja online prodavnica knjiga">
                                </td>
                                <td>Ime</td>
                                <td rowspan="2">Cena</td>
                                <td rowspan="2">Kolicina</td>
                                <td>
                                    <span class="align-top action-button">
                                        <i class="far fa-plus-square"></i>
                                    </span>


                                    <br />
                                </td>
                                <td rowspan="2" class="action-button">
                                    <span class="align-middle">
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="bottom_row">PrezimePrezimePrezimePrezimePrezimePrezimePrezime</td>
                                <td class="bottom_row action-button">
                                    <span class="align-bottom">
                                        <i class="far fa-minus-square"></i>
                                    </span>

                                </td>
                            </tr>
                        
                        <!-- kraj reda -->

                        <tr>
                            <td colspan="3"></td>
                            <td >Ukupno</td>
                            <td >200</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>

        <hr class="my-3">
        <div class="row d-none d-md-block">
            <div class="col">
                <h3 class="display-4 text-center mb-5">Preporučeno za Vas</h3>
            </div>
        </div>
        <div class="row d-none d-md-block mb-2">
            <div class="container">
                <div class="card-deck">
                    <div class="card">
                        <a data-toggle="modal" data-target="#exampleModalCenter1"><img class="card-img-top img-fluid"
                                src="assets/images/Da Vinicijev Kod.jpg" alt="Da Vinčijev Kod"></a>
                        <div class="card-body">
                            <a data-toggle="modal" data-target="#exampleModalCenter1">
                                <h5 class="card-title">Da Vinčijev Kod</h5>
                            </a>
                            <p class="card-text">Prva u nizu knjiga o avanturama Roberta Langdona!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Den Braun</small>
                        </div>
                    </div>
                    <div class="card">
                        <a data-toggle="modal" data-target="#exampleModalCenter2"><img class="card-img-top img-fluid"
                                src="assets/images/Cuvari biblioteke.jpg" alt="Nož"></a>
                        <div class="card-body">
                            <a data-toggle="modal" data-target="#exampleModalCenter2">
                                <h5 class="card-title">Čuvari biblioteke</h5>
                            </a>
                            <p class="card-text">Poslednji deo cuvenog serijala o inspektorima FBI u potrazi za tajnom
                                cuvanom hiljadama godina!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Glen Kuper</small>
                        </div>
                    </div>
                    <div class="card">
                        <a data-toggle="modal" data-target="#exampleModalCenter3"><img class="card-img-top img-fluid"
                                src="assets/images/Knjiga mrtvih dusa.jpg" alt="Nož"></a>
                        <div class="card-body">
                            <a data-toggle="modal" data-target="#exampleModalCenter3">
                                <h5 class="card-title">Knjiga mrtvih duša</h5>
                            </a>
                            <p class="card-text">Nastvak svetskog bestselera "Biblioteka mrtvih". Otkrijte da li je
                                najveca
                                misterija covecanstva otkrivena!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Glen Kuper</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>








    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Da Vinčijev Kod</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Prva u nizu knjiga o avanturama Roberta Langdona!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Čuvari biblioteke</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Poslednji deo cuvenog serijala o inspektorima FBI u potrazi za tajnom cuvanom hiljadama godina!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Knjiga mrtvih duša</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Nastvak svetskog bestselera "Biblioteka mrtvih". Otkrijte da li je najveca misterija covecanstva
                    otkrivena!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>





