<div class="container ">
    <div class="row mt-3">

        <div class="col-sm-12 col-md-6 text-center mt-lg-5">
            <img src="assets/images/Igor Milanovic.jpg" alt="Igor Milanović" class="img-fluid rounded ">
        </div>
        <div class="col-sm-12 col-md-6 mt-5">
            <h2 class="display-4 d-none d-lg-block text-center">Podaci o autoru:</h2>
            <ul class="list-group">
                <li class="list-group-item ">Ime: <span class="float-right">Igor</span></li>
                <li class="list-group-item ">Prezime: <span class="float-right">Milanović</span></li>
                <li class="list-group-item ">Datum rodjenja: <span class="float-right">17.08.1994.</span></li>
                <li class="list-group-item ">Broj indeksa: <span class="float-right">333/17</span></li>
            </ul>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-md-12 pt-4" style=" margin-bottom: 110px;">
                <h3>
                        Ukratko o autoru:
                        <small class="text-muted">
                             Student sam visoke ICT škole, smer Internet Tehnologije, modul Web Programiranje. S obzirom da sam pri kraju škole ( trenutno 1 ispit ),
                             zaposlio sam se na poziciju junior full stack developera u GRAWE osiguranju u oktobru prošle godine.
                                
                             Posedujem solidno znanje o programiranju, prvenstveno u programskom jeziku C#, kao i radu sa relacionim bazama podataka, i imam veliku želju da nastavim da unapređujem svoje znanje u tom smeru.
                             
                        
                        </small>
                </h3>
        </div>
    </div>



</div>






