<div class="modal-wrapper" *ngIf="showModal">
    <div class="close" (click)="showModal = false"></div>
  
    <div class="content">
      <div class="title">{{modal.title}}</div>
      <div class="text">{{modal.text}}</div>

        <div class="actions" *ngIf="modal.tbValue != undefined">
          <input
          name="tbValue"
          [(ngModel)]="modal.tbValue"              
          pInputText                           
          required
           />
          </div>

    <br><br><br><br>
   
      <div class="actions">
        <button class="custom-button smaller" (click)="ne();">{{modal.btnNeText}}</button>
        <button class="custom-button smaller green" (click)="da()">{{modal.btnDaText}}</button>
      </div>
    </div>
  </div>



