/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Mali', cursive;
  }
  #slajder{
      height: 350px;
  }
  
  #ikonice{
      flex-direction:row;
      font-size: 30px;
      display: flex;
      justify-content: center;
    } 
  #footer a {
      margin-left: 20px;
  
    }  
  .ct{
    min-height: 213px;
  }
  
  .cb{
  min-height: 315px;
  }
  .bottom_row{
    border-top: 0px !important;
  }

  .korpa>*>tr>*{
   vertical-align: middle;
  }
  .action-button{
    font-size: 50px;
  }






  @media screen and (max-width: 650px) {
    .cb{
      min-height: 100px;
      }
   
  }
