<nav class="navbar  navbar-light bg-light" id="footer">
    <div class="col-md-5  col-12 text-center">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" width="290" height="100" alt="Pergament najbolja online prodavnica knjiga u gradu" title="Pergament - Najbolja online prodavnica knjiga">
        </a>
    </div>




    <div class="col-md-3  col-12">
        <ul class="navbar-nav text-center">
            <li class="nav-item "> Telefon:</li>
            <li class="nav-item "> 011/1234-567</li>
            <li class="nav-item "> Adresa:</li>
            <li class="nav-item "> Ljubitelja književnosti 15a</li>
        </ul>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-md-3  col-12 ">
        <ul class="navbar-nav text-center" id="ikonice">
            <li class="nav-item "><a class="nav-link" href="https://www.facebook.com/"><i
                        class="fab fa-facebook-square"></i></a></li>
            <li class="nav-item "><a class="nav-link" href="https://www.linkedin.com/"><i
                        class="fab fa-linkedin"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/"><i
                        class="fab fa-github-square"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="b_styles_G.css"><i class="fab fa-sass"></i></a></li>
        </ul>
    </div>
</nav>





