<div class="modal-wrapper" *ngIf="showModal">
    <div class="close" (click)="showModal = false"></div>
  
    <div class="content">
      <div class="title">{{modal.title}}</div>
      <div class="text">{{modal.text}}</div>

        <div class="actions" *ngIf="modal.tbValue != undefined">
          <input
          name="tbValue"
          [(ngModel)]="modal.tbValue"              
          pInputText                           
          required
           />
          </div>

    <br><br><br><br>
   
      <div class="actions">
        <button class="custom-button smaller" (click)="ne();">{{modal.btnNeText}}</button>
        <button class="custom-button smaller green" (click)="da()">{{modal.btnDaText}}</button>
      </div>
    </div>
  </div>






<!-- 
  <div class="content">
    <div class="title">Izmeni kalkulaciju</div>


    <div class="text">Naziv kalkulacije</div>
    <div class="actions">   
      <input
      name="nazivKalkulacije"
      [(ngModel)]="kalkulacijaNaziv"              
      pInputText                           
      required
       />
    </div>


    <br><br><br><br>

    <div class="text">Da li želite da izmenite kalkulaciju?</div>      



    <div class="actions">


      <button class="custom-button smaller" (click)="izmeniModal = false; kalkulacijaNaziv = ''">Ne</button>
      <button class="custom-button smaller green"  (click)="izmeniCalc()">Da</button>
    </div>
  </div> -->