.podaci-wrapper {
    width: 100%;
    padding: 0 5% 3% calc(5% + 300px);
  
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 4% 0 3%;
    }
  
    
  
    .data-wrapper {
      border-radius: 15px;
      background-color: #fff;
  
      .header {
        justify-content: space-between;
        display: flex;
        border-bottom: 1px solid rgba(45, 45, 45, 0.09);
  
        &.without-border {
          border-bottom: none;
        }
  
        .tabs {
          display: flex;
          padding: 30px 3%;
  
          .custom-button {
            position: relative;
            margin-right: 30px;
            align-items: center;
  
            span {
              &:first-of-type {
                margin-right: 45px;
              }
            }
  
            &.white {
              cursor: default;
            }
  
            &.finished {
              align-items: center;
  
              img {
                margin-right: 45px;
              }
  
              span {
                margin: 0;
              }
            }
  
            &:after {
              content: '';
              position: absolute;
              right: -22px;
              top: 22px;
              width: 12px;
              height: 6px;
              background: url('../../../assets/icons/icon-green-arrow-right.png') 0 0 no-repeat;
            }
  
            &:last-of-type {
              &:after {
                display: none;
              }
            }
          }
        }
  
        .custom-button {
          align-items: center;
  
          &.reader {
            margin: 30px 3%;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
          }
        }
      }
  
      .progress-bar {
        width: 100%;
  
        ::ng-deep {
          .ui-progressbar {
            margin: 0px 3%;
            height: 5px;
  
            .ui-progressbar-value {
              background-color: #01783c;
            }
          }
        }
  
        .status {
          font-family: 'Gotham-Medium';
          font-size: 16px;
          color: #01783c;
          text-align: center;
          letter-spacing: 1px;
          margin-top: 15px;
        }
      }
  
      .body {
        padding: 45px 8% 90px;
  
        
  
        section {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 30px;
  
          .title {
            width: 100%;
            margin-bottom: 35px;
            font: 24px 'Gotham-Bold', sans-serif;
            color: #01793c;
          }
  
          .subtitle {
            width: 100%;
            margin-bottom: 35px;
            font: 18px 'Gotham-Bold', sans-serif;
            color: #01793c;
          }
  
          .column {
            width: 28%;
            position: relative;
  
            &.custom {
              display: flex;
              flex-direction: column;
  
              .form-item {
                &.short {
                  height: auto;
                }
              }
            }
  
            .two-items {
              display: flex;
              justify-content: space-between;
            }
  
            .form-item {
              margin-bottom: 35px;
  
              &.empty {
                height: 68px;
              }
  
              &.inline {
                display: flex;
                height: 68px;
  
                .label {
                  margin: 3px 0 0 12px;
                  text-transform: none;
                  letter-spacing: 0;
                  font: 14px 'Gotham-Medium', sans-serif;
                  color: #2d2d2d;
                }
              }
  
              .label {
                height: 19px;
                margin-bottom: 0;
                letter-spacing: 1px;
                font-size: 14px;
                color: #01783c;
  
                span {
                  margin-left: 10px;
                  font-size: 16px;
                }
              }
            }
  
            .add-insurer-button {
              position: absolute;
              bottom: 30px;
              right: 0;
              width: 160px;
              font-size: 12px;
              letter-spacing: 2px;
            }
  
            .custom-button {
              &.premium-step {
                position: absolute;
                bottom: 35px;
                width: 217px;
                font-size: 12px;
                letter-spacing: 2px;
              }
            }
          }
        }
  
        .add-ons {
          margin-bottom: 30px;
          padding: 20px 40px;
          border-radius: 5px;
          background-color: rgba(11, 149, 31, 0.09);
  
          .title {
            margin-bottom: 15px;
            letter-spacing: 1px;
            font-size: 14px;
            color: #01783c;
          }
  
          .form-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
  
            .label {
              margin: 0 20px 0 18px;
              text-transform: none;
              letter-spacing: 0;
              font: 14px 'Gotham-Medium', sans-serif;
              color: #2d2d2d;
  
              span {
                font: 12px 'Gotham-Book', sans-serif;
              }
            }
  
            .icon-question {
              width: 17px;
              height: 18px;
              background: url('../../../assets/icons/icon-question.png') 0 0 no-repeat;
              cursor: pointer;
  
              &:hover {
                background-position: bottom left;
              }
            }
          }
        }
  
        .custom-button {
          align-items: center;
          float: right;
          width: 110px;
          padding: 0 30px;
          text-transform: uppercase;
  
          span {
            width: 12px;
            height: 6px;
            background: url('../../../assets/icons/icon-white-arrow-right.png') 0 0 no-repeat;
          }
        }
  
        
  
        &.step2 {
          padding: 45px 0 90px;
  
          section {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
            padding: 0 8%;
  
            &.green-card {
              padding: 45px 8%;
              border-top: 1px solid rgba(45, 45, 45, 0.09);
              border-bottom: 1px solid rgba(45, 45, 45, 0.09);
            }
  
            .title {
              width: 100%;
              margin-bottom: 35px;
              font: 24px 'Gotham-Bold', sans-serif;
              color: #01793c;
            }
  
            .column {
              width: 28%;
  
              &.custom {
                display: flex;
                flex-direction: column;
  
                .form-item {
                  &.short {
                    height: auto;
                  }
                }
              }
  
              .form-item {
                margin-bottom: 35px;
  
                &.empty {
                  height: 68px;
                }
  
                &.inline {
                  display: flex;
                  height: 68px;
  
                  .label {
                    margin: 3px 0 0 12px;
                    text-transform: none;
                    letter-spacing: 0;
                    font: 14px 'Gotham-Medium', sans-serif;
                    color: #2d2d2d;
                  }
                }
  
                .label {
                  height: 19px;
                  margin-bottom: 0;
                  letter-spacing: 1px;
                  font-size: 14px;
                  color: #01783c;
  
                  span {
                    margin-left: 10px;
                    font-size: 16px;
                  }
                }
  
                img {
                  margin-top: 20px;
                }
  
                .custom-button {
                  align-items: center;
                  float: right;
                  width: 110px;
                  margin-top: 19px;
                  padding: 0 30px;
                  text-transform: uppercase;
                  letter-spacing: 2px;
  
                  img {
                    margin: 0 !important;
                  }
                }
              }
            }
          }
  
          .actions {
            padding: 0 8%;
  
            .custom-button {
              align-items: center;
              float: right;
              width: 110px;
              padding: 0 30px;
              text-transform: uppercase;
              letter-spacing: 2px;
  
              &.white {
                width: 170px;
                margin-right: 10px;
                border-color: #2d2d2d;
  
                &.no-margin {
                  float: left;
                  margin-right: 0;
                }
            
              }
  
              &.whitenew {
                width: 110px;
                margin-left: 10px;
                border-color: #2d2d2d;
                background-color: #017a3b;
                padding: 0px 40px 0px 45px;
                align-items: center;
  
                &.no-margin {
                  float: center;
                  margin-right: 0;
                }
            
              }
  
              &.add-margin {
                float: left;
                margin-left: 10px;
              }
  
              span {
                width: 12px;
                height: 6px;
                background: url('../../../assets/icons/icon-black-arrow-left.png') 0 0 no-repeat;
              }
            }
  
  
  
          }
        }
  
        &.step3 {
          padding: 0;
  
          .total-strip {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 16% 24px 52px;
            color: #fff;
            background-color: #017a3b;
  
            .label {
              text-transform: uppercase;
              letter-spacing: 2px;
              font-family: 'Gotham-Bold', sans-serif;
            }
  
            .value {
              font: 16px 'Gotham-Bold', sans-serif;
            }
          }
  
          .payment-slip {
            width: 920px;
            margin: 0 auto;
            padding: 70px 0;
  
            .title {
              margin-bottom: 45px;
              font: 24px 'Gotham-Bold', sans-serif;
              color: #01793c;
            }
  
            .slip {
              display: flex;
              justify-content: space-between;
              padding: 35px 48px;
              border: 1px solid #cadae0;
              border-radius: 3px;
  
              .left-side {
                width: 45%;
  
                .row {
                  margin-bottom: 30px;
  
                  .label {
                    margin-bottom: 10px;
                    font-size: 14px;
                  }
  
                  .field {
                    width: calc(100% - 36px);
                    height: 32px;
                    padding: 15px 17px;
                    border: 1px solid #cadae0;
                    border-radius: 3px;
                    font: 14px 'Gotham-Book', sans-serif;
                    color: #99a8ba;
                    resize: none;
                  }
  
                  &.last {
                    margin-bottom: 10px;
                  }
                }
  
                .one-liner {
                  float: right;
                  width: 70%;
  
                  input {
                    width: calc(100% - 34px);
                    margin-bottom: 5px;
                    padding: 12px 17px;
                    border: none;
                    border-bottom: 1px solid #cadae0;
                    font: 14px 'Gotham-Book', sans-serif;
                    color: #99a8ba;
                  }
  
                  .label {
                    font-size: 14px;
                  }
                }
              }
  
              .right-side {
                width: 47%;
  
                .row {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 52px;
  
                  .label {
                    margin-bottom: 10px;
                    font-size: 14px;
                  }
  
                  .field-input {
                    width: calc(100% - 36px);
                    padding: 12px 17px;
                    border: 1px solid #cadae0;
                    border-radius: 3px;
                    font: 14px 'Gotham-Book', sans-serif;
                    color: #99a8ba;
                  }
  
                  &.last {
                    margin-bottom: 32px;
                  }
                }
  
                .one-liner {
                  width: 70%;
  
                  input {
                    width: calc(100% - 34px);
                    margin-bottom: 5px;
                    padding: 12px 17px;
                    border: none;
                    border-bottom: 1px solid #cadae0;
                    font: 14px 'Gotham-Book', sans-serif;
                    color: #99a8ba;
                  }
  
                  .label {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  ::ng-deep {
    .ui-autocomplete {
      display: flex;
    }
  }
  
  @media (max-width: 1800px) {
    .podaci-wrapper {
      .data-wrapper {
        .body {
          padding: 45px 3% 90px;
  
          section {
            .column {
              .form-item {
                .label {
                  span {
                    margin: 0;
                  }
                }
              }
            }
          }
  
          &.step2 {
            padding: 45px 0 90px;
  
            section {
              padding: 0 3%;
  
              &.green-card {
                padding: 45px 3%;
              }
  
              .column {
                .form-item {
                  .label {
                    span {
                      margin: 0;
                    }
                  }
                }
              }
            }
  
            .actions {
              padding: 0 3%;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 1600px) {
    .podaci-wrapper {
      padding: 0 5% 3% calc(5% + 116px);
    }
  }
  
  
  @media (max-width: 1400px) {
    .podaci-wrapper {
      .data-wrapper {
        .body {
          section {
            .column {
              width: 31%;
            }
          }
        }
      }
    }
  }
  